@font-face {
    font-family: googlesans;
    src: url(../fonts/GoogleSans-Regular.ttf);
}

* {
    font-family: googlesans; 
    color: white
}

.container{
  margin: auto;
  margin-top: 30px;
  /* background-image: url(../img/bg-container.png); */
  background-color: #1C3879;
  width: 985px;
  border-radius: 26px;
  padding: 35px;
}
.column{
  float: left;
  margin-right: 10px;
}
.titletext{
  float: left;
  color: black;
}

.header{
  background-color: #D9D9D9;
  border-radius: 26px;
  margin-bottom: 20px;
  padding: 20px;
  content: "";
  display: table;
  clear: both;
  width: 96%;

}
.header p{
  font-size: 32px;
}

img{
    width: 240px;
    padding-top: 13px;
}

/** 
Simpanan
}
input[type=email]{
    border: 2px solid red;
}
input[type=number]{
    border: 2px solid red;
}
select{ 
    border: 2px solid red;
}*/


input[type=submit]{
  border: 0;
  border-radius: 30px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
}
input[type=submit]:hover{
  opacity: 0.7;
}
textarea{
  width: 223px;
  height: 87px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  transition: width 0.4s ease-in-out;
} 
textarea:focus {
  width: 447px;
  height: 125px;
  color: black
}
input{
  width: 215px;
  height: 40px;
  border-radius: 6px;
  color: black;
}
/* cadangan
 input[type=text]:focus{
  background-color: aqua;
}
*/

select{
  width: 222px;
  height: 47px;
  border-radius: 6px;
  color: black;
}
option{
  color: black;
}