header{
    background-color: white;
    height: 120px;
}

header img{
    float: left;
    margin: 20px;
    height: 80px;
}

.container{
    background-color: #1C3879;
    height: 747px;
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    /* background-color: yellow; */
}

.column{
    float: left;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 24px;
    margin: 6% 6% 6% 11.5%;
}

.icon{
    width: 150px;
    margin: 50px 25px 25px 25px;
}

.overflow{
    margin: 25px;
    width: 150px;
}

.regis{
    margin: 25px 25px 25px 45px;
    width: 110px;
}

a:hover{
    opacity: 80%;
}