.kotak{
    background-color: #1C3879;
    width: 1000px;
    margin: auto;
    border-radius: 25px;
    padding: 17px;
    color: white;
}

.tombol{
    border-style: none;
    width: 70px;
    height: 30px;
    border-radius: 4px;
}

.row{
    content: "";
    display: table;
    clear: both;
}

.column{
    width: 150px;
    float: left;
}